<table class="body-wrap">
  <tbody><tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table #htmlData id="htmlData" class="main" width="100%" cellpadding="0" cellspacing="0">
          <tbody>
          <tr>
            <td class="content-wrap aligncenter">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tbody><tr>
                  <td class="content-block">
                    <h2>Thanks for using our service</h2>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <table class="invoice">
                      <tbody><tr>
                        <td>User: {{order.userId}} <br>Invoice #{{order.id}} <br>{{getDateTime()}}</td>
                      </tr>
                      <tr>
                        <td>
                          <table class="invoice-items" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr tr *ngFor="let product of order.products; let i = index;">
                              <td>{{ product.productName }} x {{ product.quantity }}</td>
                              <td class="alignright">$ {{ product.price }}</td>
                            </tr>
                            <tr class="total">
                              <td class="alignright" width="80%">Total</td>
                              <td class="alignright">$ {{getTotalPrice()}}</td>
                            </tr>
                            </tbody></table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    M.I.U Inc. 1000 N 4th Street, Fairfield, IA 52557
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="footer">
          <table width="100%">
            <tbody><tr>
              <td class="alignleft content-block"><a href="javascript:void(0)" (click)="goBack()">Back</a></td>
              <td class="aligncenter content-block">Questions? Email to <a href="mailto:">group3@miu.edu</a></td>
              <td class="alignright content-block"><a href="javascript:void(0)" (click)="openPDF(htmlData)">Print</a></td>
            </tr>
            </tbody></table>
        </div></div>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>

