<div *ngIf="addressList.length > 0; then showAddressList; else showAddressInputForm"></div>

<ng-template #showAddressInputForm>
  <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">
    <!--    First Name & Last Name-->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>First Name</label>
        <input type="text" name="firstName" class="form-control" placeholder="First Name" required
               [(ngModel)]="model.firstName" #firstName="ngModel"
               [ngClass]="{'is-invalid': userForm.submitted && firstName.invalid}">
        <div class="invalid-feedback" *ngIf="userForm.submitted && firstName.invalid">
          <p *ngIf="firstName.errors.required">First Name is required</p>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Last Name</label>
        <input type="text" name="lastName" class="form-control" placeholder="Last Name" required
               [(ngModel)]="model.lastName" #lastName="ngModel"
               [ngClass]="{'is-invalid': userForm.submitted && lastName.invalid}">
        <div class="invalid-feedback" *ngIf="userForm.submitted && lastName.invalid">
          <p *ngIf="lastName.errors.required">Last Name is required</p>
        </div>
      </div>
    </div>
    <!--    Address-->
    <div class="form-group">
      <label>Address</label>
      <input type="text" name="address1" class="form-control" placeholder="1234 Main St" required
             [(ngModel)]="model.street1" #address1="ngModel"
             [ngClass]="{'is-invalid': userForm.submitted && address1.invalid}">
      <div class="invalid-feedback" *ngIf="userForm.submitted && address1.invalid">
        <p *ngIf="address1.errors.required">Address is required</p>
      </div>
    </div>
    <div class="form-group">
      <label>Address 2 (Optional)</label>
      <input type="text" name="address2" class="form-control" placeholder="Apartment, studio, or floor"
             [(ngModel)]="model.street2" #address2="ngModel">
    </div>
    <!--    City, State, ZipCode, Country-->
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>City</label>
        <input type="text" name="city" class="form-control" required
               [(ngModel)]="model.city" #city="ngModel"
               [ngClass]="{'is-invalid': userForm.submitted && city.invalid}">
        <div class="invalid-feedback" *ngIf="userForm.submitted && city.invalid">
          <p *ngIf="city.errors.required">City is required</p>
        </div>
      </div>
      <div class="form-group col-md-2">
        <label>State</label>
        <input type="text" name="state" class="form-control" [(ngModel)]="model.state" #state="ngModel">
      </div>
      <div class="form-group col-md-2">
        <label>ZipCode</label>
        <input type="text" name="zipcode" class="form-control" [(ngModel)]="model.zipCode" #zipcode="ngModel">
      </div>
      <div class="form-group col-md-4">
        <label>Country</label>
        <select name="country" class="form-control"
                [(ngModel)]="model.country" #country="ngModel"
                [ngClass]="{'is-invalid': userForm.submitted && country.invalid}">
          <div class="invalid-feedback" *ngIf="userForm.submitted && country.invalid">
            <p *ngIf="country.errors.required">Country is required</p>
          </div>
<!--          <option selected>Choose Country</option>-->
          <option value="AU">Australia</option>
          <option value="BR">Brazil</option>
          <option value="KH">Cambodia</option>
          <option value="CA">Canada</option>
          <option value="CN">China</option>
          <option value="CU">Cuba</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
          <option value="HK">Hong Kong</option>
          <option value="HU">Hungary</option>
          <option value="IS">Iceland</option>
          <option value="IN">India</option>
          <option value="ID">Indonesia</option>
          <option value="IT">Italy</option>
          <option value="JP">Japan</option>
          <option value="KP">Korea, Democratic People's Republic of</option>
          <option value="KR">Korea, Republic of</option>
          <option value="MY">Malaysia</option>
          <option value="MX">Mexico</option>
          <option value="PL">Poland</option>
          <option value="SG">Singapore</option>
          <option value="SE">Sweden</option>
          <option value="CH">Switzerland</option>
          <option value="TW">Taiwan, Province of China</option>
          <option value="TH">Thailand</option>
          <option value="TR">Turkey</option>
          <option value="GB">United Kingdom</option>
          <option value="US">United States</option>
          <option value="VE">Venezuela, Bolivarian Republic of</option>
          <option value="VN">Viet Nam</option>
          <option value="YE">Yemen</option>
          <option value="ZM">Zambia</option>
          <option value="ZW">Zimbabwe</option>
        </select>
      </div>
    </div>
    <button class="col-md-2 btn btn-primary btn-lg btn-block">Add Address</button>
  </form>
</ng-template>

<ng-template #showAddressList>
  <div class="card card-body" *ngFor="let address of addressList">
    <p class="heading-text">Default Address</p>
    <p><span class="heading-text">Name: </span>{{address.firstName}} {{address.lastName}}</p>
    <p><span class="heading-text">
      Address: </span>{{ address.street1 }}
      <span *ngIf="address.street2.toString().length > 0">, {{ address.street2 }}</span>
    </p>
    <p>{{ address.city }}, {{ address.state }}, {{ address.zipCode }}, {{ address.country }}</p>
  </div>
</ng-template>
