<div *ngIf="addressList.length > 0; then showAddressList; else showAddressInputForm"></div>

<ng-template #showAddressInputForm>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!--    First Name & Last Name-->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>First Name</label>
        <input type="text" formControlName="firstName" class="form-control" placeholder="First Name"
               [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name"
               [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
    </div>
    <!--    Address-->
    <div class="form-group">
      <label>Address</label>
      <input type="text" formControlName="street1" class="form-control" placeholder="1234 Main St"
             [ngClass]="{ 'is-invalid': submitted && f.street1.errors }">
      <div *ngIf="submitted && f.street1.errors" class="invalid-feedback">
        <div *ngIf="f.street1.errors.required">Address is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Address 2 (Optional)</label>
      <input type="text" formControlName="street2" class="form-control" placeholder="Apartment, studio, or floor"
             [ngClass]="{ 'is-invalid': submitted && f.street2.errors }">
      <div *ngIf="submitted && f.street2.errors" class="invalid-feedback">
        <div *ngIf="f.street2.errors.required">Address is required</div>
      </div>
    </div>
    <!--    City, State, ZipCode, Country-->
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>City</label>
        <input type="text" formControlName="city" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
          <div *ngIf="f.city.errors.required">City is required</div>
        </div>
      </div>
      <div class="form-group col-md-2">
        <label>State</label>
        <input type="text" formControlName="state" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
          <div *ngIf="f.state.errors.required">State is required</div>
        </div>
      </div>
      <div class="form-group col-md-2">
        <label>Zip Code</label>
        <input type="text" formControlName="zipCode" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }">
        <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
          <div *ngIf="f.zipCode.errors.required">Zip Code is required</div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>Country</label>
        <select formControlName="country" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
          <option value="" selected disabled>Choose Country</option>
          <option value="AU">Australia</option>
          <option value="BR">Brazil</option>
          <option value="KH">Cambodia</option>
          <option value="CA">Canada</option>
          <option value="CN">China</option>
          <option value="CU">Cuba</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
          <option value="HK">Hong Kong</option>
          <option value="HU">Hungary</option>
          <option value="IS">Iceland</option>
          <option value="IN">India</option>
          <option value="ID">Indonesia</option>
          <option value="IT">Italy</option>
          <option value="JP">Japan</option>
          <option value="KP">Korea, Democratic People's Republic of</option>
          <option value="KR">Korea, Republic of</option>
          <option value="MY">Malaysia</option>
          <option value="MX">Mexico</option>
          <option value="PL">Poland</option>
          <option value="SG">Singapore</option>
          <option value="SE">Sweden</option>
          <option value="CH">Switzerland</option>
          <option value="TW">Taiwan, Province of China</option>
          <option value="TH">Thailand</option>
          <option value="TR">Turkey</option>
          <option value="GB">United Kingdom</option>
          <option value="US">United States</option>
          <option value="VE">Venezuela, Bolivarian Republic of</option>
          <option value="VN">Viet Nam</option>
          <option value="YE">Yemen</option>
          <option value="ZM">Zambia</option>
          <option value="ZW">Zimbabwe</option>
        </select>
        <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
          <div *ngIf="f.country.errors.required">Country is required</div>
        </div>
      </div>
    </div>
    <button class="col-md-2 btn btn-primary btn-lg btn-block">Add Address</button>
  </form>
</ng-template>

<ng-template #showAddressList>
  <div class="card card-body" *ngFor="let address of addressList">
    <p class="heading-text">Default Address</p>
    <p><span class="heading-text">Name: </span>{{address.firstName}} {{address.lastName}}</p>
    <p><span class="heading-text">
      Address: </span>{{ address.street1 }}
      <span *ngIf="address.street2.toString().length > 0">, {{ address.street2 }}</span>
    </p>
    <p>{{ address.city }}, {{ address.state }}, {{ address.zipCode }}, {{ address.country }}</p>
  </div>
</ng-template>
