<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Group 3 Ecommerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/vendor" class="nav-link">Vendor</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/mycart" class="nav-link" tabindex="-1">My Cart({{ totalCart }})</a>
      </li>
      <div class="dropdown">
        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hello, John
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/user/userprofile', 1]">My Profile</a>
          <a class="dropdown-item" [routerLink]="['/user/orderhistory', 1]">Order History</a>
        </div>
      </div>
      <li class="nav-item">
          <a *ngIf="auth" style="cursor: pointer;" class="nav-link" (click)="onLogout()">Logout</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a *ngIf="!auth" routerLink="/signin" class="nav-link" tabindex="-1">Authentication</a>
      </li>
  </ul>
  </div>
</nav>