table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td:last-child, th:last-child {
  text-align: right;
}

.table-content {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
