<nav *ngIf="!isAuthenticatePage" class="navbar navbar-expand-lg navbar-light bg-light">
  <!--  <a class="navbar-brand" routerLink="/">Group 3 Ecommerce</a>-->
  <a routerLink="/"><img src="../../../assets/images/logo_header.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <!--
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
      -->
      <li class="nav-item dropdown" *ngIf="hasRole('ROLE_VENDOR')">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vendor
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/vendor/products" routerLinkActive="active">Manage Product</a>
          <a class="dropdown-item" routerLink="/vendor/reports" routerLinkActive="active">View Report</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="hasRole('ROLE_ADMIN')">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/admin/users" routerLinkActive="active">Manage User</a>
          <a class="dropdown-item" routerLink="/admin/products" routerLinkActive="active">Approve/Reject Product</a>
          <a class="dropdown-item" routerLink="/admin/reports" routerLinkActive="active">View Report</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="hasRole('ROLE_CLIENT')">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Client
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/client/reports" routerLinkActive="active">View Report</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/mycart" class="nav-link" tabindex="-1">My Cart({{ totalCart }})</a>
      </li>
      <li class="nav-item dropdown" *ngIf="auth">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hello, Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/user/userprofile', 1]">My Profile</a>
          <a class="dropdown-item" [routerLink]="['/user/orderhistory', 1]">Order History</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a *ngIf="!auth" routerLink="/signin" class="nav-link" tabindex="-1">Authentication</a>
      </li>
    </ul>
  </div>
</nav>


<!--<nav class="header-section">-->
<!--  <div class="header-top">-->
<!--    <div class="container">-->
<!--      <div class="ht-left">-->
<!--        &lt;!&ndash;  <a class="navbar-brand" routerLink="/">Group 3 Ecommerce</a>&ndash;&gt;-->
<!--        <div class="col-2 logo">-->
<!--          <a routerLink="/">-->
<!--            <img src="../../../assets/images/logo_header.png" alt="">-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="ht-right">-->
<!--        <a href="#" class="login-panel"><i class="fa fa-user"></i>Login</a>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
