<div class="container">
  <br>
  <div class="row">
    <div class="card card-body">
        <h4>User Profile</h4>
        <br>
        <div class="row">
          <div class="col-md-6">
            <label class="form-check-label">Username</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-6">
            <label class="form-check-label">Email</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <label class="form-check-label">Phone Number</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-6">
            <label class="form-check-label">Role</label>
            <input type="text" value="ADMIN" class="form-control" disabled>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary">Update Profile</button>
          </div>
        </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="card card-body">
        <h4>Addresses</h4>
        <div class="row">
          <div class="col-md-6">
            <a class="btn btn-primary" (click)="newAddress()">Add New Address</a>
          </div>
        </div>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Address 2</th>
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th scope="col">Zipcode</th>
              <th scope="col">Country</th>
              <th scope="col">Contact</th>
              <th scope="col">Default</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Coke</td>
              <td>Coke</td>
              <td>Coke</td>
              <td>Coke</td>
              <td>Coke</td>
              <td>Coke</td>
              <td>Coke</td>
              <td>Coke</td>
              <th>Yes</th>
              <td>
                <a style="cursor: pointer;" class="btn btn-primary" (click)="editAddress()">Edit</a> &nbsp;
                <a style="cursor: pointer;" class="btn btn-primary" (click)="removeAddress()">Remove</a> &nbsp;
                <a style="cursor: pointer;" class="btn btn-primary">Set Default</a>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="card card-body">
      <h4>Cards</h4>
      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-primary" (click)="newCard()">Add New Card</a>
        </div>
      </div>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Address 2</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zipcode</th>
            <th scope="col">Country</th>
            <th scope="col">Contact</th>
            <th scope="col">Default</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Coke</td>
            <td>Coke</td>
            <td>Coke</td>
            <td>Coke</td>
            <td>Coke</td>
            <td>Coke</td>
            <td>Coke</td>
            <td>Coke</td>
            <th>Yes</th>
            <td>
<!--              <a style="cursor: pointer;" class="btn btn-primary" (click)="editCard()">Edit</a> &nbsp;-->
              <a style="cursor: pointer;" class="btn btn-primary" (click)="removeCard()">Remove</a> &nbsp;
              <a style="cursor: pointer;" class="btn btn-primary">Set Default</a>
            </td>
          </tr>
        </tbody>
    </table>
    </div>
  </div>
  <br>
</div>
