<div *ngIf="isLoading" class="container">
  <br>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="!isLoading" class="container">
  <br>
  <div class="row">
    <div class="card card-body">
        <h4>User Profile</h4>
        <br>
        <div class="row">
          <div class="col-md-6">
            <label class="form-check-label">Username</label>
            <input type="text" [value]="user.username" disabled class="form-control">
          </div>
          <div class="col-md-6">
            <label class="form-check-label">Email</label>
            <input type="text" [(ngModel)]="user.email" class="form-control">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <label class="form-check-label">Phone Number</label>
            <input type="text" [(ngModel)]="user.phone" class="form-control">
          </div>
          <div class="col-md-6">
            <label class="form-check-label">Role</label>
            <input type="text" [value]="getRoles(user.roles)" class="form-control" disabled>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary" (click)="updateProfile()">Update Profile</button>
          </div>
        </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="card card-body">
        <h4>Addresses</h4>
        <div class="row">
          <div class="col-md-6">
            <a class="btn btn-primary" (click)="newAddress()">Add New Address</a>
          </div>
        </div>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">House Number</th>
              <th scope="col">Street</th>
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th scope="col">Zipcode</th>
              <th scope="col">Country</th>
              <th scope="col">Default</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let address of user.addresses; let i=index;">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ address.houseNumber }}</td>
              <td>{{ address.street }}</td>
              <td>{{ address.city }}</td>
              <td>{{ address.state }}</td>
              <td>{{ address.zipcode }}</td>
              <td>{{ address.country }}</td>
              <th>{{ address.defaultAddress }}</th>
              <td>
                <a style="cursor: pointer;" class="btn btn-primary" (click)="editAddress(address.addressId)">Edit</a> &nbsp;
                <a style="cursor: pointer;" class="btn btn-primary" (click)="removeAddress(address.addressId)">Remove</a> &nbsp;
                <a style="cursor: pointer;" class="btn btn-primary" (click)="setDefaultAddress(address.addressId)">Set Default</a>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="card card-body">
      <h4>Cards</h4>
      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-primary" (click)="newCard()">Add New Card</a>
        </div>
      </div>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Card Number</th>
            <th scope="col">Expired Date</th>
            <th scope="col">CVV</th>
            <th scope="col">Default</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let card of user.cards; let i=index;">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ card.name }}</td>
            <td>{{ card.cardNumber }}</td>
            <td>{{ card.expiredDate }}</td>
            <td>{{ card.cvv }}</td>
            <th>{{ card.default }}</th>
            <td>
              <a style="cursor: pointer;" class="btn btn-primary" (click)="removeCard(card.cardNumber)">Remove</a> &nbsp;
              <a style="cursor: pointer;" class="btn btn-primary" (click)="setDefaultCard(card.cardNumber)">Set Default</a>
            </td>
          </tr>
        </tbody>
    </table>
    </div>
  </div>
  <br>
</div>
