<div class="container">
  <div class="row">
    <div class="card card-body">
      <h4>User Profile</h4>
      <br>
      <form [formGroup]="form" (ngSubmit)="submitAction()">
        <div class="row">
          <div class="col-md-6">
            <div *ngIf="error" class="alert alert-danger" role="alert">
              {{ error }}
            </div>
            <label class="form-check-label">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" placeholder="First Name">
          </div>
          <div class="col-md-6">
            <label class="form-check-label">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="form-check-label">Username</label>
            <input type="text" formControlName="username" class="form-control" placeholder="Username">
          </div>
          <div class="col-md-6">
            <label class="form-check-label">Email</label>
            <input type="text" formControlName="email" class="form-control" placeholder="Email">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <label class="form-check-label">Phone Number</label>
            <input type="text" formControlName="phone" class="form-control" placeholder="Phone Number">
          </div>
          <div *ngIf="!selectedUser" class="col-md-6">
            <label class="form-check-label"> Password </label>
            <input type="password" formControlName="password" class="form-control" placeholder="Password">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label  class="form-check-label">Roles</label>
            <select formControlName="roleId" class="form-control no-border">
              <option value=1>Admin</option>
              <option value=2>Vendor</option>
              <option value=3>Client</option>
              <option value=4>Register User</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary" type="submit">{{selectedUser ? 'Update User' : 'Add User'}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
