<div *ngIf="creditCardList.length > 0; then showCreditCardList; else showCreditCardInputForm"></div>

<ng-template #showCreditCardInputForm>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label>Name on card</label>
        <input type="text" formControlName="name" class="form-control" placeholder=""
               [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
        <small class="text-muted">Full name as displayed on card</small>
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Card Name is required</div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label>Credit card number</label>
        <input type="text" formControlName="number" class="form-control" placeholder=""
               [ngClass]="{ 'is-invalid': submitted && f.number.errors }">
        <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
          <div *ngIf="f.number.errors.required">Card Number is required</div>
          <div *ngIf="f.number.invalid && f.number.touched && f.number.errors.pattern">
            Only accept Visa Card and Master Card.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4">
        <label>Card Type</label>
        <select formControlName="type" class="form-control no-border"
                [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
          <option selected value="master">Master Card</option>
          <option value="visa">Visa Card</option>
        </select>
        <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
          <div *ngIf="f.type.errors.required">Please select card type</div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <label>Expiration</label>
        <input type="text" formControlName="expiredDate" class="form-control" placeholder="MMYY"
               [ngClass]="{ 'is-invalid': submitted && f.expiredDate.errors }">
        <div *ngIf="submitted && f.expiredDate.errors" class="invalid-feedback">
          <div *ngIf="f.expiredDate.errors.required">Expired Date is required</div>
          <div *ngIf="f.expiredDate.invalid && f.expiredDate.touched && f.expiredDate.errors.pattern">
            Only accept MMYY format.
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <label>CVV</label>
        <input type="text" formControlName="cvv" class="form-control" placeholder="•••"
               [ngClass]="{ 'is-invalid': submitted && f.cvv.errors }">
        <div *ngIf="submitted && f.cvv.errors" class="invalid-feedback">
          <div *ngIf="f.cvv.errors.required">CVV Number is required</div>
          <div *ngIf="f.cvv.invalid && f.cvv.touched && f.cvv.errors.pattern">
            Invalid CVV number.
          </div>
        </div>
      </div>
    </div>
    <hr class="mb-4">
  </form>

</ng-template>

<ng-template #showCreditCardList>
  <div class="container" *ngFor="let creditCard of creditCardList">
    <div>
      <img class="credit-image" src="../../../../assets/images/visa.png" width="50px" height="15px">
      <p class="credit-text">Ending in {{ creditCard.number.toString().slice(-4) }}</p>
    </div>
  </div>
</ng-template>

