
<div class="container">
  <!--  Toolbar-->
  <div class="row tool-bar"> 
    <!--  SearchBox-->
    <div class="col-md-11">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="row no-gutters">
          <div class="col-md-2 mr-2">
            <select formControlName="searchOption" class="form-control no-border"
                    [ngClass]="{ 'is-invalid': searchFormSubmitted && f.searchOption.errors }"
                    (change)="changeCategory()">
              <option selected value="0">All</option>
              <option *ngFor="let category of categorys;" [value]="category.id">{{ category.categoryName }}</option>
            </select>
            <div *ngIf="searchFormSubmitted && f.searchOption.errors" class="invalid-feedback">
              <div *ngIf="f.searchOption.errors.required">Please select search option</div>
            </div>
          </div>
          <div class="col-md-8 mr-2">
            <input type="text" formControlName="searchKeyword" class="form-control" placeholder="Search..."
                   [ngClass]="{ 'is-invalid': searchFormSubmitted && f.searchKeyword.errors }">
            <div *ngIf="searchFormSubmitted && f.searchKeyword.errors" class="invalid-feedback">
              <div *ngIf="f.searchKeyword.errors.required">Keyword is required</div>
            </div>
          </div>
          <div class="col-md-1">
            <button type="submit" class="btn btn-default button-search">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </button>
          </div>
        </div>
      </form>
    </div>

    <!--  Layout Button-->
    <div class="col-md-1" [ngSwitch]="productLayout">
      <ng-container *ngSwitchCase="Layout.grid" [ngTemplateOutlet]="gridButton" ]></ng-container>
      <ng-container *ngSwitchCase="Layout.list" [ngTemplateOutlet]="listButton" ]></ng-container>
      <ng-container *ngSwitchDefault [ngTemplateOutlet]="gridButton" ]></ng-container>
    </div>
  </div>
  <!--  Products-->
  <div class="row" [ngSwitch]="productLayout">
    <ng-container *ngSwitchCase="Layout.grid" [ngTemplateOutlet]="gridLayout" ]></ng-container>
    <ng-container *ngSwitchCase="Layout.list" [ngTemplateOutlet]="listLayout" ]></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="gridLayout" ]></ng-container>
  </div>
</div>

<div class="container" *ngIf="isLoading" >
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<!--Button Template-->
<ng-template #gridButton>
  <button class="btn btn-default float-right" (click)="changeLayout()">
    <img class="button-layout" src="{{iconFolderPath}}/grid_view.png">
  </button>
</ng-template>
<ng-template #listButton>
  <button class="btn btn-default float-right" (click)="changeLayout()">
    <img class="button-layout" src="{{iconFolderPath}}/list_view.png">
  </button>
</ng-template>

<!--Layout Template-->
<ng-template #gridLayout>
  <product-item-grid class="col-md-3" *ngFor="let product of products;" [product]="product"></product-item-grid>
</ng-template>
<ng-template #listLayout>
  <app-product-item-list class="col-md-11" *ngFor="let product of products;" [product]="product"></app-product-item-list>
</ng-template>




