<br>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Receipt #</th>
                <th scope="col">Order Date</th>
                <th scope="col">Total</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>123456789</td>
                <td>2020-01-01</td>
                <td>$1000</td>
                <td>
                    <a class="btn btn-primary" routerLink="/user/historydetail/1">Detail</a> &nbsp;
                    <a class="btn btn-primary" routerLink="/user/receipt/1">Receipt</a> &nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>123456789</td>
                <td>2020-01-01</td>
                <td>$1000</td>
                <td>
                    <a class="btn btn-primary" routerLink="/user/historydetail/1">Detail</a> &nbsp;
                    <a class="btn btn-primary" routerLink="/user/receipt/1">Receipt</a> &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div>