<div class="container">
    <br>
    <div class="row">
        <div class="card card-body">
            <h4>Item Detail</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                    <th scope="col">Vendor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of order.products; let i = index;">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.price }}</td>
                    <td><img [src]="product.imageURL" width="50" height="50"></td>
                    <td>{{ product.vendorId }}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="card card-body">
            <h4>Shipping Address</h4>
            <label class="form-check-label">
                {{ order.shippingAddress.street1 }}
                {{ order.shippingAddress.street2 }}
                {{ order.shippingAddress.zip }}
                {{ order.shippingAddress.city }}
                {{ order.shippingAddress.country }}
                {{ order.shippingAddress.state }}
            </label>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="card card-body">
            <h4>Billing Address</h4>
            <label class="form-check-label">
                {{ order.billingAddress.street1 }}
                {{ order.billingAddress.street2 }}
                {{ order.billingAddress.street2 }}
                {{ order.billingAddress.zip }}
                {{ order.billingAddress.city }}
                {{ order.billingAddress.country }}
                {{ order.billingAddress.state }}
            </label>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="card card-body">
            <h4>Total Amount</h4>
            <label class="form-check-label">{{ orderService.calculateTotal(order) }}</label>
        </div>
    </div>
    <br>
    <div class="row">
        <a class="btn btn-primary" (click)="goBack()">Back to Order History</a>
    </div>
    <br>
</div>
