<div class="container">
    <br>
    <div class="row">
        <div class="card card-body">
            <h4>Item Detail</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Image</th>
                    <th scope="col">Vendor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Coke</td>
                    <td>1</td>
                    <td><img src="https://i.etsystatic.com/24304292/r/il/d56e00/2473749145/il_794xN.2473749145_asul.jpg" width="50" height="50"></td>
                    <td>Coca Cola</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="card card-body">
            <h4>Shipping Address</h4>
            <label class="form-check-label">Mr John, 1000 4th ST Fairfield, IOWA</label>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="card card-body">
            <h4>Total Amount</h4>
            <label class="form-check-label">$1000</label>
        </div>
    </div>
    <br>
    <div class="row">
        <a class="btn btn-primary" (click)="goBack()">Back to Order History</a>
    </div>
    <br>
</div>
