<div class="container">
    <br>
    <h3>Review your order</h3>
    <br>
    <div class="card card-body">
        <h4>Shipping Address</h4> <br>
        <p><span style="font-weight: bold;">Name:</span> ABC</p>
        <p><span style="font-weight: bold;">Address:</span> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
        <p><span style="font-weight: bold;">Phone:</span> 64111223344</p>
    </div>
    <br>
    <div class="card card-body">
        <h4>Billing Address</h4> <br>
        <p><span style="font-weight: bold;">Name:</span> ABC</p>
        <p><span style="font-weight: bold;">Address:</span> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
    </div>
    <br>
    <div class="card card-body">
        <h4>Payment Method</h4> <br>
        <div>
            <img src="../../../assets/images/visa.png" width="50px" height="15px" style="float: left;">
            <p style="position: absolute; top: 74px; left: 80px; font-size: 18px;">ending in 1234</p>
        </div> 
    </div>
    <div style="clear: left;"></div>
    <br>
    <button class="btn btn-success" (click)="placeAnOrder()">Place an order</button>
</div>