<div class="container">
  <br>
  <h3>Review your order</h3>
  <br>
  <div class="card card-body">
    <h4>Shipping Address</h4> <br>
    <p><span style="font-weight: bold;">Name: </span>{{checkoutData.shippingAddress.firstName}} {{checkoutData.shippingAddress.lastName}}</p>
    <p><span style="font-weight: bold;">Address: </span>
      <span>{{checkoutData.shippingAddress.street1}}, </span>
      <span *ngIf="checkoutData.shippingAddress.street2.length > 0">{{checkoutData.shippingAddress.street2}}, </span>
      <span>{{checkoutData.shippingAddress.city}}, </span>
      <span>{{checkoutData.shippingAddress.state}}, </span>
      <span>{{checkoutData.shippingAddress.zipCode}}, </span>
      <span>{{checkoutData.shippingAddress.country}}</span>
    </p>
    <p><span style="font-weight: bold;">Phone Number: </span>{{checkoutData.shippingAddress.phoneNumber}}</p>
  </div>
  <br>
  <div class="card card-body">
    <h4>Billing Address</h4> <br>
    <p><span style="font-weight: bold;">Name: </span>{{checkoutData.billingAddress.firstName}} {{checkoutData.billingAddress.lastName}}</p>
    <p><span style="font-weight: bold;">Address: </span>
      <span>{{checkoutData.billingAddress.street1}}, </span>
      <span *ngIf="checkoutData.billingAddress.street2.length > 0">{{checkoutData.billingAddress.street2}}, </span>
      <span>{{checkoutData.billingAddress.city}}, </span>
      <span>{{checkoutData.billingAddress.state}}, </span>
      <span>{{checkoutData.billingAddress.zipCode}}, </span>
      <span>{{checkoutData.billingAddress.country}}</span>
    </p>
    <p><span style="font-weight: bold;">Phone Number: </span>{{checkoutData.billingAddress.phoneNumber}}</p>
  </div>
  <br>
  <div class="card card-body">
    <h4>Payment Method</h4> <br>
    <div>
      <img *ngIf="checkoutData.creditCard.type=='VISA'" src="../../../../assets/images/visa.png" width="50px" height="15px" style="float: left;">
      <img *ngIf="checkoutData.creditCard.type=='MASTERCARD'" src="../../../../assets/images/master.png" width="50px" height="15px" style="float: left;">
      <p style="position: absolute; top: 74px; left: 80px; font-size: 18px;">ending in {{checkoutData.creditCard.number.toString().slice(-4)}}</p>
    </div>
  </div>
  <div style="clear: left;"></div>
  <br>
  <div class="jumbotron">
    <h1 class="display-10">Subtotal ({{totalItem}} items)</h1>
    <p class="lead" style="font-size: 40px; font-weight: bold; color: red;">${{ subTotal }}</p>

    <div *ngIf="isLoading">
      <button class="btn btn-primary btn-lg" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    </div>
    <button *ngIf="!isLoading" class="btn btn-success" (click)="placeAnOrder()">Place an order</button>
  </div>
</div>
